
body {
    background-color:rgb(173, 229, 173); 
}

.container {
    width: 1440px; 
    margin: 0 auto; 
}

ul {
    list-style-type: none; 
}

ul li a {
    color: black;
    text-decoration: none;
}

.centered {
    text-align: center;
}

.right {
    text-align: right;
}

.justify {
    text-align: justify;
}

img{
    width:400px;
    height:400px;
    border-radius: 15px; 
}

.bold{
    font-weight: bold;
}
@font-face {
    font-family: 'Film1';
    src: url('fonts/Film1.ttf') format('truetype');
}

#film1 h1,
#film1 h2,
#film1 h3,
#film1 p,
#film1 table {
    font-family: 'Film1'; 
}


@font-face {
    font-family: 'Film2';
    src: url('fonts/Film2.ttf') format('truetype');
}

#film2 h1,
#film2 h2,
#film2 h3,
#film2 p,
#film2 table {
    font-family: 'Film2'; 
}

@font-face {
    font-family: 'Film3';
    src: url('fonts/Film3.ttf') format('truetype');
}

#film3 h1,
#film3 h2,
#film3 h3,
#film3 p,
#film3 table {
    font-family: 'Film3'; 
}